IMAGE_NAME=minxinagent:v0.0.1
PUBLIC_PORT=8881
TEXTUAL_PUBLIC_URL=http://172.17.3.61:8881

OPENAI_API_KEY=9c2fcbeb04df4450976d2e0907f2f721.VlhdtedOOwLA5CLm
LANGSMITH_API_KEY=xxx


# Optional business/database env vars passed through to the container
DB_HOST=172.17.3.126
DB_USER=damoxing_mxw
DB_PASS=mxw20260316@
DB_NAME=neican_all_count
