IMAGE_NAME=minxinagent:v0.0.1
PUBLIC_PORT=8881
TEXTUAL_PUBLIC_URL=http://202.97.181.107:8881

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=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
LANGSMITH_PROJECT="minxinagent"

# Optional business/database env vars passed through to the container
DB_HOST=172.17.3.137
DB_USER=root
DB_PASS=Mx@12345
DB_NAME=liaoning
MINIO_ROOT_USER=mxminioroot
MINIO_ROOT_PASSWORD='4HMkn5c:JE0)uLe84p!z'

# glm
# OPENAI_API_KEY=9c2fcbeb04df4450976d2e0907f2f721.VlhdtedOOwLA5CLm

# codex
OPENAI_API_KEY=sk-ant-api03-UO_mbw3nT4k-y5zk3c-IUm37hoJhXOvL_NkkhkALKyJ8vrRMrb_eiUS2Huzg0Pc06KVMdjZ7rVP3ln6X5JV06Q
